<div class="container-banner">
    <div class="banner">
        <div class="banner-text">
            <h1>REGISTRAR TURMAS</h1>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row justify-content-evenly">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <form action="/turma" method="post" id="cadastroTurmaForm">

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Nome *</label>
                            <input type="text" class="form-control" placeholder="Digite seu nome" name="name" required>
                        </div>
                    </div>

                    <div></div>

                <div class="row" id="submit-row">
                    <div class="col-md-12" id="submit-col">
                        <div class="form-group">
                            <input type="submit" data-loading-text="Cadastrando..."
                                class="btn btn-success btn-orange btn-md pull-right" value="Cadastrar Turma">
                        </div>
                    </div>
                </div>

            </form>
        </div>


    </div>

</div>